<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- 基本參數設定 -->
    <add key="WebName" value="寶工內部系統整合網站"/>
    <add key="DiskUrl" value="D:\_MyWork\_Prokits\寶工EF\B_程式碼\PKEF\"/>
    <add key="WebUrl" value="http://localhost/PKEF/"/>
    <add key="File_DiskUrl" value="D:\_MyWork\_Prokits\寶工EF\B_程式碼\PKEF\Data_File\"/>
    <add key="File_WebUrl" value="http://localhost/PKEF/Data_File/"/>
    <add key="ValidCode_Pwd" value="5q^j0V9@#pq"/>
    <add key="RefUrl" value="http://localhost:8081/"/>
    <add key="Ftp_RefUrl" value="http://localhost:8081/"/>

    <add key="CDN_Url" value="http://cdn.prokits.com.tw/"/>
    <!-- 連線參數設定 -->
    <add key="dbCon" value="server=localhost;database=PKEF;uid=sa;pwd=piggy;"/>
    <!--<add key="dbCon" value="server=PKDB\PKSQL;database=PKEF;uid=efsql;pwd=EfSql!2#;"/>-->
    <add key="dbCon_PKSYS" value="server=localhost;database=PKSYS;uid=sa;pwd=piggy;"/>
    <!--<add key="dbCon_PKSYS" value="server=PKDB\PKSQL;database=PKSYS;uid=efsql;pwd=EfSql!2#;" />-->
    <add key="dbCon_ERPTAX" value="server=localhost;database=PKSYS;uid=ERPTAX;pwd=`1234ERP;"/>
    <add key="dbCon_ReportCenter" value="server=localhost;database=PKReport;uid=sa;pwd=piggy;"/>
    <add key="dbCon_PKWeb" value="server=localhost;database=PKWeb;uid=sa;pwd=piggy;"/>
    <add key="dbCon_Product" value="server=localhost;database=ProductCenter;uid=sa;pwd=piggy;"/>
    <add key="dbCon_Science" value="server=localhost;database=PKScience;uid=sa;pwd=piggy;"/>
    <add key="dbCon_DSCSYS" value="server=localhost;database=DSCSYS;uid=sa;pwd=piggy;"/>
    <add key="dbCon_PKANA" value="server=PKANALYZER\ANALYZER;database=PKSYS;uid=efsql;pwd=EfSql!2#;"/>
    <add key="dbCon_ClickLog" value="server=localhost;database=PKClickLog;uid=sa;pwd=piggy;"/>

    <!-- 系統Email -->
    <add key="SysMail_Sender" value="pkmailman@mail.prokits.com.tw"/>
    <!-- AD設定 -->
    <add key="AD_Path" value="LDAP://DC=prokits,DC=com,DC=tw"/>
    <add key="AD_Domain" value="prokits.com.tw"/>
    <!-- DES Key,8碼英文 -->
    <add key="DesKey" value="PKesvCDy"/>
    <!-- API固定的取用ID(無期限) -->
    <add key="API_TokenID" value="f507450f1d94dec7ac6a268654eca5f1"/>
    <!-- ** WebService ** -->
    <add key="API_GetPrice.ws_GetPrice" value="http://api.prokits.com.tw/WebService/ws_GetPrice.asmx"/>
    <add key="API_GetERPData.ws_GetERPData" value="http://api.prokits.com.tw/WebService/ws_GetERPData.asmx"/>
    <add key="API_EDI.ws_EDI" value="http://api.prokits.com.tw/WebService/ws_EDI.asmx"/>
    <!-- FTP參數設定 -->
    <add key="FTP_Username" value="ftpuser"/>
    <add key="FTP_Password" value="test1234"/>
    <add key="FTP_Url" value="ftp://localhost/"/>
    <add key="FTP_DiskUrl" value="D:\_ftpTemp\"/>
    <add key="File_Folder" value="PKEF/"/>

    <!-- 報表參數設定 -->
    <add key="ReportServerUrl" value="http://pkrpcenter.prokits.com.tw/report/"/>
    <add key="ReportADUser" value="RPRead"/>
    <add key="ReportADPwd" value="pkRP~!@#"/>
    <add key="ReportViewerServerConnection" value="ReportConn.MyReportServerConn, App_Code"/>
  </appSettings>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <!-- ReportViewer -->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <!-- 上傳大小(預設值 4096KB<4 MB>, 上限 2097151KB<2 GB>, 目前 200 MB, 單位KB)-->
    <httpRuntime maxRequestLength="204800" executionTimeout="900" requestValidationMode="2.0"/>
    <!--<customErrors mode="Off"/>
    -->
    <!--AD驗證(啟用)-->
    <authentication mode="Windows"/>
    <!--ASPNET模擬路徑(EXCEL元件使用)-->
    <!--
    <identity impersonate="true" userName="prokits\RCUpload" password="`1234%PK" />-->
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Runtime.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <!-- 新增自訂控制項 -->
        <add tagPrefix="asp" namespace="CustomController"/>
      </controls>
    </pages>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <!-- SmtpClient 宣告 Start -->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network defaultCredentials="false" host="smtp.prokits.com.tw" port="25" userName="pkmailman" password="PK!@#mail"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!-- SmtpClient 宣告 End -->
  <system.webServer>
    <!--IIS7 檔案上傳限制(200MB = 1024*1024*200)-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="209715200"/>
      </requestFiltering>
    </security>
    <!--移除相容性檢視-->
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=Edge"/>
      </customHeaders>
    </httpProtocol>
    <!--瀏覽器快取 d.hh:mm:ss (7天)-->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00"/>
    </staticContent>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      <!-- ReportViewer -->
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>